@mixin fontText {
    font-size: $fontStyle;
    font-family: $fontFamily;
}

@mixin PadMarg {
    padding: 0;
    margin: 0;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin topBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $secondary-color;
    color: $background-color;
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 22px;
}

@mixin bodyColor {
    color: $secondary-color;
    background-color: $background-color;
}

@mixin navbarTransition {
    position: fixed;
    background-color: black;
    transition: 200ms ease;
}

@mixin imgSize {
    width: 100%;
}